/* Подключение шрифтов */
@font-face {
    font-family: 'Rooftop';
    src: local('Rooftop'),
         url('/fonts/t2-Rooftop-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HalvarBreitt2';
    src: local('HalvarBreitt2-XBd'),
         url('/fonts/HalvarBreitt2-XBd.woff2') format('woff2');
    font-weight: 800; /* Extra Bold */
    font-style: normal;
    font-display: swap;
}

/* Базовые стили */
body {
    font-family: 'Rooftop', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

/* Специфичные стили */
.map {
    font-family: 'Rooftop', sans-serif;
}

#glav_but_enter, 
#fullname, 
#button_glav_exit {
    font-family: 'HalvarBreitt2', sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: var(--button-text-uppercase-transform, uppercase);
    line-height: 16px;
    font-size: 12px;
}

.coverage-card p {
    font-family: 'Rooftop', sans-serif;
    font-size: 15px;
    text-transform: none;
    color: #000000;
}

#form_enter{
    font-family: 'HalvarBreitt2', sans-serif;
    font-weight: 800;
    font-style: normal;
}

#registration_form{
    font-family: 'HalvarBreitt2', sans-serif;
    font-weight: 800;
    font-style: normal;
}

#form_enter .input{
    font-family: 'Rooftop', sans-serif;
    font-size: 18px;
}

#registration_form .input{
    font-family: 'Rooftop', sans-serif;
    font-size: 18px;
}

.input label{
    font-family: 'HalvarBreitt2', sans-serif;
    font-weight: 800;
    font-style: normal;
}

#submit_reg{
    font-family: 'HalvarBreitt2', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
}

#enter_submit{
    font-family: 'HalvarBreitt2', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
}

#change_form{
    font-family: 'HalvarBreitt2', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
}

#change_pw_form{
    font-family: 'HalvarBreitt2', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
}

#input_old_pw {
    font-family: 'Rooftop', sans-serif;
    font-size: 18px;
}

#input_new_pw_1 {
    font-family: 'Rooftop', sans-serif;
    font-size: 18px;
}

#input_new_pw_2 {
    font-family: 'Rooftop', sans-serif;
    font-size: 18px;
}

#btn_check_pw {
    font-family: 'HalvarBreitt2', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
}

#change_cancel {
    font-family: 'HalvarBreitt2', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
}

#change_submit {
    font-family: 'HalvarBreitt2', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
}

#add_review_cancel {
    font-family: 'HalvarBreitt2', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
}

#add_review_save {
    font-family: 'HalvarBreitt2', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
}

#name_mark_input{
    font-family: 'Rooftop', sans-serif;
    font-size: 18px;
}

#description_mark_input{
    font-family: 'Rooftop', sans-serif;
    font-size: 18px;
}