/* Подключение шрифтов */
@font-face {
    font-family: 'Rooftop';
    src: local('Rooftop'),
         url('/fonts/t2-Rooftop-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HalvarBreitt2';
    src: local('HalvarBreitt2-XBd'),
         url('/fonts/HalvarBreitt2-XBd.woff2') format('woff2');
    font-weight: 800; /* Extra Bold */
    font-style: normal;
    font-display: swap;
}

/* Базовые стили */
body {
    font-family: 'Rooftop', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

/* Специфичные стили */
.map {
    font-family: 'Rooftop', sans-serif;
}

#glav_but_enter, 
#fullname, 
#button_glav_exit {
    font-family: 'HalvarBreitt2', sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: var(--button-text-uppercase-transform, uppercase);
    line-height: 16px;
    font-size: 12px;
}

.coverage-card p {
    font-family: 'Rooftop', sans-serif;
    font-size: 15px;
    text-transform: none;
    color: #000000;
}