<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Карта покрытия Tele2</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=126279f8-7d73-4da9-a3e6-369f3c5d0f2f&lang=ru_RU"
        type="text/javascript"></script>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx-ext-ws@2.0.2"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
</head>

<body>
    <div class="content">
        <div class="nav-content">
            <img src="/static/css/images/t2_Logo_White_CMYK.svg" alt="">

            {% if is_reg %}
            <div class="autoriz-polz">
                <button id="fullname" class="fullname" onclick="window.location='/edit_profile'">{{ fullname }}</button>
                <button id="button_glav_exit" type="submit" hx-delete="/exit" hx-swap="none"
                    hx-on:htmx:after-request="exitToTheGlav(event)">Выйти</button>

                {% else %}

                <div class="glav_but_enter">
                    <button id="glav_but_enter" onclick="location.href='/vhod'">Вход</button>
                </div>

                {% endif %}
            </div>
        </div>

        <div class="map">
            <div class="coverage-card">
                <h1>Карта покрытия</h1>
                <div>
                    <p>
                        <input 
                            type="checkbox"
                            id="4_G_check"
                        />
                        <label for="4_G_check">4G</label>
                    </p>
                    
                    <p>
                        <input 
                            type="checkbox"
                            id="3_G_check"
                        />
                        <label for="3_G_check">3G</label>
                    </p>

                    <p>
                        <input 
                            type="checkbox"
                            id="2_G_check"
                        />
                        <label for="2_G_check">2G</label>
                    </p>

                    <p>
                        <input 
                            type="checkbox"
                            id="show_mark_checkbox"
                        />
                        <label for="show_mark_checkbox">Салоны связи</label>
                    </p>

                    <p>
                        <input 
                            type="checkbox"
                            id="show_review_checkbox"
                        />
                        <label for="show_review_checkbox">Отзывы</label>
                    </p>
                </div>
            </div>
            <div id="map"></div>
        </div>

        {% if is_admin %}

        
        <button id="add_zone_btn">Добавить зону</button>
        <button id="add_mark_btn">Добавить метку</button>

        {% endif %}

    </div>

    <dialog id="add_mark_dialog">

        <h1>Создание метки</h1>

        <div>
            <p>Название</p>
            <input id="name_mark_input" type="text">
        </div>

        <div>
            <p>Описание</p>
            <input id="description_mark_input" type="text">
        </div>

        <label class="file-input" for="photo_mark_input">Добавить фото</label>
        <div id="not_galary" class="custom-file-input">
            <div id="gallery"></div>
            <input id="photo_mark_input" type="file" accept="image/*" multiple><br>
        </div>

        <div>
            <button id="add_mark_cancel">Отменить</button>
            <button id="add_mark_save">Сохранить</button>
        </div>
    </dialog>



    <dialog id="add_review_dialog">

        <h1>Создание отзыва</h1>

        <div>
            <p>Описание</p>
            <input id="description_review_input" type="text">
        </div>

        <div>
            <button id="add_review_cancel">Отменить</button>    
            <button id="add_review_save">Сохранить</button>    
        </div>

    </dialog>


    <dialog id="add_pokritie_dialog" class="dio">
        
        <h1>Создание покрытия</h1>

        <div>
            <p>Выберите тип связи:</p>
            <p>
                <input 
                    type="radio"
                    id="4_G"
                    value="4G"
                    name="connection"
                    checked
                />
                <label for="4_G">4G</label>
            </p>

            <p>
                <input 
                    type="radio"
                    id="3_G"
                    value="3G"
                    name="connection"
                />
                <label for="3_G">3G</label>
            </p>

            <p>
                <input 
                    type="radio"
                    id="2_G"
                    value="2G"
                    name="connection"
                />
                <label for="4_G">2G</label>
            </p>
        </div>

        <div>
            <button id="close_pokritie_dialog">Отменить</button>
            <button id="send_pokritie">Сохранить</button>
        </div>
    </dialog>
    <img src="/static/css/images/T2_Avatar_Primary.png" alt="" id="btn-open-neiro">
    {% if is_reg == False%}
    <script>
        btn_open_neiro = document.getElementById("btn-open-neiro")
        btn_open_neiro.onclick = () => alert("Зарегистрируйтесь чтобы общаться с ии асистенсом")
    </script>
    {% endif %}
    

    <dialog id="ws_dialog" hx-ext="ws" ws-connect="/ws">
            <div class="ex-ney-blok"><button class="exit-neiro" id="exit-neiro">X</button></div>
            <div id="message">
                
                {{ html_chat | safe }}
                <form ws-send>
                    <input name="text" placeholder="Введите запрос">
                    <button><img src="/static/css/images/icons8-бумажный-самолетик-50.png" alt="" class="ws_dialog-button-image"></button>
                </form>
            </div>
        
    </dialog>
    <button id="metkaPokritieReview">Добавить отзыв</button>
    <script src="/static/js/index.js"></script>
</body>

</html>