<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение пароля</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <link rel="stylesheet" href="/static/css/password.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
</head>

<body>
    <div class="container">
        <form id="change_pw_form" hx-put="/user/password" hx-on:htmx:after-request="changePw(event)"
            hx-target="#target_result">
            <img src="/static/css/images/t2_Logo_White_CMYK.svg" alt="">

            <h1>Изменение пароля</h1>

            <div>Введите текущий пароль:</div>
            <div class="password-btn-select">
                <input id="input_old_pw" type="password" placeholder="Введите пароль" name="old_password" required>
                <button id="btn_check_pw" type="button">
                    <img src="/frontend/static/css/images/icons8-глаз-50.png" alt="">
                </button>
            </div>

            <div>Введите новый пароль:</div>
            <div class="password-btn-select">
                <input id="input_new_pw_1" type="password" placeholder="Новый пароль" name="new_password" required>
                <button id="btn_check_pw" type="button">
                    <img src="/frontend/static/css/images/icons8-глаз-50.png" alt="">
                </button>
            </div>

            <div>Подтвердите новый пароль:</div>
            <div class="password-btn-select">
                <input id="input_new_pw_2" type="password" placeholder="Новый пароль" required>
                <button id="btn_check_pw" type="button">
                    <img src="/frontend/static/css/images/icons8-глаз-50.png" alt="">
                </button>
            </div>

            <button id="change_cancel" onclick="location.href='/edit_profile'">Отменить</button>
            <button id="change_submit">Сохранить</button>
        </form>
    </div>

    <div id="target_result" style="display: none;">Ура</div>




    <script src="/static/js/password.js"></script>

</body>

</html>